<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diabetestagebuch.mkservices.de.diabetes_tagebuch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Werteingabe"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Grunddaten"
            android:configChanges="orientation"
            android:label="@string/title_activity_grunddaten"
            android:parentActivityName=".Werteingabe"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".BzListe"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_bz_liste"
            android:parentActivityName=".Werteingabe"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>